[Unit]
Description=WebApp
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt
ExecStartPre=/bin/bash -c 'while [ ! -f "/opt/application.properties" ]; do echo "Looking for app.properties..."; sleep 2; done'
ExecStart=/usr/bin/java -jar /opt/csye6225-0.0.1-SNAPSHOT.jar --spring.config.location=/opt/application.properties
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target